<html>
    <head>

    </head>
    <body>
        <h1>Delete a mower from our shops inventory</h1>
        <form method="delete" action="/delete">
            Manufacturer: <input type="text" name="mower[maker]"><br>
            <input type="submit" value="Delete">
        </form>       
    </body>
</html>