<html>
    <head>

    </head>
    <body>
        <h1>Find all mowers manufactured by a company from our shop's inventory</h1>
        <form method="get" action="/mower">
            Manufacturer: <input type="text" name="mower[maker]"><br>
            <input type="submit" value="Find">
        </form>       
    </body>
</html>