<html>
    <head>

    </head>
    <body>
        <h1>Find a lawn mower by ID from our shop's inventory</h1>
        <form method="get" action="/mower_id">
            ID: <input type="text" name="_id"><br>
            <input type="submit" value="Find">
        </form>       
    </body>
</html>