<html>
    <head>

    </head>
    <body>
        <h1>Add a mower to our shop's inventory</h1>
        <form method="post" action="/mower">
            Manufacturer: <input type="text" name="mower[maker]"><br>
            Type: <input type="text" name="mower[type]"><br>
            Year: <input type="number" name="mower[year]"><br>
            Power Plant: <input type="text" name="mower[powerPlant]"><br>
            Capacity: <input type="number" name="mower[capacity]"><br>
            Color: <input type="text" name="mower[color]"><br>
            Size: <input type="number" name="mower[size]"><br>
            Date Purchased: <input type="date" name="mower[datePurchased]"><br>
            <input type="submit" value="Submit">
        </form>       
    </body>
</html>