<html>
    <head>

    </head>
    <body>
        <h1>Maintenance Shop Lawn Mower</h1>
        <ul>
            <% for(mower of mowers) { %>
                <li>
                    <%= "Manufacturer: " + mower.maker %>
                </li>
            <% } %>
        </ul>
    </body>
</html>