<html>
    <head>

    </head>
    <body>
        <h1>Update a Lawn Mower in the Maintenance Shop</h1>
        <form method="put" action="/update">
            Change Manufacturer: <input type="text" name="mower[maker]"><br>
            Updated Manufacturer: <input type="text" name="mower[maker]"><br>
            <input type="submit" value="Update">
        </form>       
    </body>
</html>